html, body {
    margin: 0;
    padding: 0;
}
body{
    background-color: #fefefe;
}
.wrap{
    width: 550px;
    height: 550px;
    margin: 3em auto;
    border-radius: 10px;
    background-color: #1F2937;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
header{
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 11px rgba(0,0,0,0.15);
    margin-bottom: 1px;
    /* background-color: #fff; */
}
.color-picker{
    width: 61px;
    height: 42px;
    border: 0.5px solid #313131;
}
select {
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    color: #D5D4D8;
    font-size: 1rem;
    background: #1F2937;
}
option{
    margin-top: 20px;
    background-color: red;
}
.btn{
    width: 123px;
    height: 42px;
    color: #fff;
    font-size: 0.75rem;
    background: #3D4B60;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container{
    height: 90px;
    display: flex;
}
.box{
    width: 110px;
    height: 414px;
    display: flex;
    justify-content: center;
}
.hex-code{
    margin-top: 430px;
    font-size: 0.75rem;
    color: #D5D4D8
}
